
.idea/compiler.xml
.idea/csv-editor.xml
.idea/encodings.xml
.idea/Golden-Raspberry-Awards-piores-filmes.iml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
testeOutsera.piorfilme/.gitattributes
testeOutsera.piorfilme/.mvn/wrapper/maven-wrapper.properties
testeOutsera.piorfilme/mvnw
testeOutsera.piorfilme/mvnw.cmd
